@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Yekan;
    src: url("./Fonts/Yekan.ttf");
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Yekan !important;

}

.shadow-gray{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2)
}
.dark-shadow{
    box-shadow: 0 0 20px rgba(0, 0, 0, 1)
}

.input-style {
    @apply w-full p-3 mt-1 outline-none bg-transparent rounded bg-whiteSky placeholder:pr-3 placeholder:text-gray;
}

.btn-orange {
    @apply transition duration-500 font-bold text-white bg-orange-500 hover:bg-orange-600 shadow-sm hover:shadow-orange-500 w-full p-3 rounded outline-none border-none;
}

.btn-outline{
    @apply py-2 px-4 outline-none text-sm border-2 border-orange-500 text-orange-500 rounded hover:bg-orange-500 hover:text-white transition duration-500
}